@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&display=swap');

body{
    background: linear-gradient(236.85deg, #000036 27.26%, #0b001f 70.03%);
    color: rgb(255, 255, 255);
    max-width: 900px;
    margin: auto;
}

.fotoPerfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid rgb(99, 67, 67)
}

h1 {
    text-align: center;
    font-size: 55px;
    font-style: italic;
    font-weight: 700;
}

#subtitle{
    font-weight: 400;
    font-style: italic;
}

#postTitle{
    font-weight: 200;
    font-style: italic;
    margin: 0%;
    margin-bottom: 15px;
}

.post{
    /* overflow-y: scroll;  barra de scroll*/
    background: linear-gradient(236.85deg, #020475 27.26%, #1b014d 70.03%);
    padding: 15px;
    /* border: 2px solid rgb(49, 33, 33); */
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(61, 48, 48, 0.603);
    margin-bottom: 15px;
}

.postImage{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5%;
}

.postContent{
    margin: 0%;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

a{
    color: rgb(255, 254, 221);
    text-decoration-line: line-through;
}

.footer{
    margin: auto;
    align-content: center;
    background: linear-gradient(236.85deg, #020475 27.26%, #1b014d 70.03%);
    border-radius: 10px;
    padding: 2px;
    box-shadow: 2px 2px 4px rgba(61, 48, 48, 0.603);
    width: 200px;
}

.contactsList{
    text-align: center;
    list-style-type:none;
    margin: 0%;
    padding-top: 15px;
    padding-left: 15px;
}

.fotoGithub{
    padding-top: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contactsList li a {
    text-decoration-line: none;
}

.contatos{
    text-align: center;
    font-size: 20px;
    margin: 0%;
}